	
#container {
	width: 100%;
	height: 100%;
    overflow-x: hidden; 
	margin-right:0.5%;
}


	
#Welcome {
	background-image: url("Banner_Image.png");
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	width: 99.5%;
	height: 70%;
	margin:0% 0.5% 0% 0%;
}

#Welcome #Welcomelogo{
	height:auto;
	max-width:300px;
	min-width:100px;
	
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right:auto;
	margin-left:auto;
	padding-top:9.5%;
    animation: LogoLoad 3s;

	
}

@keyframes LogoLoad {
	from {opacity: -0.5; padding-top:6.5%;}
    to {opacity: 1; padding-top:9.5%;}
} 



#Welcomelogo img{
	
	width:100%;
	
	
}


#Welcome #Section2 {
	margin-top:220px;
	float: left;
}

#AnimatedBanner {
	
	height:auto;
	width:100%;
	padding:1%;
	background-color: #f3ffe6;
	font-family:Verdana;
	font-size:0.7em;
	
}
#AnimatedContent {
	position: relative;
	animation-play-state: running;
	animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 20s;
	animation-timing-function: linear;
}

@keyframes example {
    from {left: -1250;}
    to {left: 1550;}
}

#AnimatedContent:hover {
	
    position: relative;
	animation-play-state: paused;
	
}



#Banner{
	
	background-color: #adebeb;
	width: 99.5%;

	position: Sticky;
	top:0px;

	box-shadow: 1px 15px 12px #888888;

	
	
}

.TextNav {
	margin-top:25px;
		margin-left:3%;
	margin-right:3%;
	font-weight: normal;
	margin-bottom:10px;

}





ul.topnav {
    list-style-type: none;
    margin: 0;
 width:90%;
    overflow: hidden;
	margin-right:auto;
	margin-left:auto;
	padding-left:2%;
padding-right:0%;	
		margin-left:5%;
	margin-right:5%;
	
}
ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
height: auto;

	padding-bottom: 2%;
    text-decoration: none;
		font-family:Verdana;
	 padding: 14px 0px;
	margin-left:auto;
	margin-right:auto;
	
}

@media screen and (max-width: 698px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
	#Banner {position: static;}
}

#Banner #HomeButton {

	width:55px;
	height:55px;
	margin-top:-17px;
   
 

}	

#Banner #HomeButton img {
	height:100%;
	width:100%;
}	












#Slideshow {
	background-color: #ffe6e6;
	width: 99.5%;
	height: auto;
	
}

#Slideshow #SlideshowContent{
	max-width:80%;
	min-width:80%;
	height:auto;
	
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
	padding-top:90px;
	padding-bottom:90px;

	
}





.mySlides {
	width:60%;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	border: 7px black solid;
	box-shadow: 0px 15px 10px #888888;
	
}


.mySlides:hover {

}

@Keyframes SlideshowAnimStart {
	0% {width:60%;}
	50% {width:62%;}
	100% {width:60%;}
}





#Slideshow #Section4 {
	margin-top:-90px;
	float: left;
}




#About {
	background-color: #f3ffe6;
	width: 99.5%;
	height: auto;
	
}

#about #AboutText {
	text-align:center;
	width:92%;
	margin-right: auto;
	margin-left: auto;
}

#about #AboutText h1{
	padding: 50px 0px 0px 0px;
	font-family:Verdana;
}



#about #AboutText p {
	margin: 65px 0px 0px 0px;
	font-family:Verdana;
	font-size: 0.86em;
	padding-bottom: 50px;
	
}

#About #Section5 {
	margin-top:-85px;
	float: left;
}





#Services {
	background-color: #ffbb99;
	width: 99.5%;
	height: auto;
	margin-right:0.5%;

}

#Services h1 {
	text-align:center;
	padding: 80px 10px 70px 10px;
	font-family:Verdana;
	   margin-right:auto;
	margin-left:auto;
}

#Services #TheServicesContents {

	width: 99.5%;
    margin-right:auto;
	margin-left:auto;
	padding-bottom: 100px;
	padding-right:0%;
	padding-left:0%;
}

#Services #TheServicesContents .ServicesSections {
margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	width:35%;
	min-width:200px;
	height:auto;
	background-color:#e6ffff;
	border-radius: 6%;
    box-shadow: 10px 12px 10px #888888;
	padding:20px;
	text-align: center;
	font-family:Verdana;
	
	
}



#Services #TheServicesContents .ServicesSections:hover {
	
	box-shadow: 20px 25px 30px #888888;
	
	
}



#Services #TheServicesContents #HealthCheck {
	width:65%;
	height:auto;
	margin-top:20px;
	margin-bottom:40px;
	box-shadow: 5px 5px 14px #888888;
	border-radius:5%;
	
}



#Services #TheServicesContents #HealthCheck:hover {
	width:65%;
	height:auto;
	box-shadow: 10px 10px 20px #888888;
}


#Services #Vaccination {
	width:65%;
	height:auto;
	margin-top:20px;
	margin-bottom:40px;
	box-shadow: 5px 5px 10px #888888;
	border-radius:5%;
}

#Services #TheServicesContents #Vaccination:hover {
	width:65%;
	height:auto;
	box-shadow: 10px 10px 20px #888888;
}



#Services #Surgery {
	width:65%;
	height:auto;
	margin-top:20px;
	margin-bottom:40px;
	box-shadow: 5px 5px 10px #888888;
	border-radius:5%;
	
}

#Services #TheServicesContents #Surgery:hover {
	width:65%;
	height:auto;
	box-shadow: 10px 10px 20px #888888;
}





#Services #Section6 {
	margin-top:-90px;
	float: left;
	
}



#Registration {
	background-color: #ccdcff;
	width: 99.5%;
	height: auto;
	margin-top:15px;
	
}

#RegContainerParent {
	border: 1px solid #ccdcff;
	height: auto;
	padding-bottom:100px;
	position:inline-block;

}


#RegContainerParent #RegContainer {
	
	Margin-top: 50px;
	margin-left: 7%;
	width:35%;
	min-width:200px;
	height:auto;
	display:inline-block;
	background-color:#e6ffff;
	border-radius: 6%;
	box-shadow: 10px 12px 10px #888888;
	padding:20px;
	
	text-align: center;
	font-family:Verdana;
	
}


#RegContainerParent #RegContainer:hover {
	
	
	box-shadow: 10px 12px 30px #888888;
	
	
}

fieldset{
	border:none;
}

input {
	border-radius:10%;
	text-align: center;
	
}

#contactDetails{
	position:inline-block;
	Margin-top: 50px;
	margin-left:7%;
	float:left;
	width:35%;
	min-width:200px;
	height:auto;
	margin-right:0%;
	background-color:#e6ffff;
	border-radius: 6%;
	box-shadow: 10px 12px 10px #888888;
	padding:20px;
	
	
	text-align: center;
	font-family:Verdana;
}


#contactDetails:hover{

	box-shadow: 10px 12px 30px #888888;

}

#contactDetailsContainer {
	margin-right:auto;
	margin-left:auto;
	height: 200px;
	text-align:center;
}


#Address {
	float:left;
	margin: 0px 0% 0px 6%;
	
	
}

#contacts {
	margin: 45px 0% 0px 40%;
	width:60%;
}

#ContactPhotoAlbum {
	width:17%;
	min-width:100px;
	height:auto;
	position:inline-block;
	float:left;
	margin-top:-260px;
	margin-left:17%;
	
}

.ContactPhotos {
	min-width: 160px;
	height: 160px;
	padding: -50px;
	margin-top: -20px;
	float:left;
	position:inline-block;
	margin-right:auto;
	margin-left:auto;
}

@media screen and (max-width: 595px){
  
 #ContactPhotoAlbum .ContactPhotos {display: none;}
}

#ServiceEnquiriesContainer{

	width:100%;
	height: auto;
	padding-bottom:200px;
	position:inline-block;

}


#ServiceEnquiriesContainer #ServiceEnquiries {
	
	margin-top: 50px;
	margin-left: auto;
	margin-right:auto;
	width:35%;
	min-width:200px;
	height:auto;
	background-color:#e6ffff;
	border-radius: 6%;
    box-shadow: 10px 12px 10px #888888;
	padding:20px;
	text-align: center;
	font-family:Verdana;
}


#ServiceEnquiriesContainer #ServiceEnquiries:hover {

	box-shadow: 10px 12px 30px #888888;
	
}





#Registration #Section7 {
	margin-top:50px;
	float: left;
}




#MapSection {
	background-color: #f3ffe6;
	width: 99.5%;
	height:auto;
}

#MapContainer {
	width: 70%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top:60px;
	padding-bottom:60px;
	margin-top:20px;
	margin-bottom:20px;
position:relative;
}

#Map {
	height:100%;
	width: 100%;
	box-shadow: 10px 10px 20px black;
	float:left;
	border-radius:2%;
position:relative;

}

#Map:hover {

box-shadow: 10px 10px 35px black;


}


#Footer {
	background-color: #f9e6ff;
	width: 99.5%;
	height: auto;
	
}

#Copyright {
	
	height: auto;
	width:90%;
	padding:20px;
}